body {
/*     background-color:#DFEEEA;  */
    width: 100%;
    margin: 0 auto;
    background-image: url(http://placekitten.com/1000/1000);
    background-size: cover;
    background-attachment: fixed;
 
     }
 
     hr { 
         width: 90px; 
         border-style:none;
         border-top-style: dotted;
         border-color: gray;
         border-width: 5px;
         height: 5px;
     }

     h1{
         color: #66BFBF;
     }

     h2{
        color: #66BFBF;
    }

    h3{
        color: #66BFBF;
    }

    img:hover{
        background-color: royalblue;
    }
    .secondimg{
        background-color: royalblue;
    }

    .circular{
        border-radius: 100%;
    }

    .circular1{
        border-radius: 10%;
    }
.footerData{
    text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}

header {
    width: 100%;
    background-color: yellowgreen;
    height: 58px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

.navbar {
    float: right;
}

.navbar li{
    display: inline;
}

.navbar li a {
    color: blanchedalmond;
    padding: 25px 50px;
}

.navbar li a:hover {
    color: chartreuse;
    background-color: cornsilk;
}

footer{
   background-color: yellowgreen;
   color: blanchedalmond;
   padding: 20px 20px;
}


/* sticky footer */
html, body{
   height: 100%;
}
body{
   display: flex;
   flex-flow: column;
}
footer{
   margin-top: auto;
}
